#container {
  position: absolute;
  background-color:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  margin:5%;
}

.main h2 {
background-image:url(https://mngz47.github.io/pamel_slots/pamel_slots.png);
background-repeat:no-repeat;
background-size:25px;
background-position:0px 0px;
padding-left:30px;
}
